.grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.two_div{
display: grid;
grid-template-columns: 1fr 1fr;
}
.border{
margin-top: 30px;
border-radius: 10px;
padding: 30px;
}
.img_wrapper img{
width: 100%;
border-radius: 10px;
}
.project_summary{
padding: 0px 30px;
}
.max_600{
max-width: 600px;
}
.div_none{
display: none;
}
li:hover{
cursor: pointer;
}

/*bx-slider*/
.bx-wrapper{
max-width: 800px !important;
margin: auto;
}
.bx-wrapper .bx-controls-direction a{
    z-index: 888 !important;
}


.side_menu{
border-radius: 10px;
padding: 30px;
position: fixed; 
top: 200px;
right:30px; 
background-color: rgb(47, 53, 68);
color: white;
z-index: 999;
text-align: center;
}
.white{
    color: white !important;
}
#section1,#section2,#section3{
    height: 100vh;
}